<h1> A new house is upon us! </h1>

<%= form_for @house do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :motto %>
  <%= f.text_field :motto%>
  <br>
  <%= f.label :banner %>
  <%= f.text_field :img_url%>
  <br>


  <%= f.submit "Create House" %>

<% end %>
