<h1> New Player </h1>

<h5>

<%= form_for [@character] do |f| %>


  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :house %>
  <%= f.text_field :name %>

  <%= f.label :img_url%>
  <%= f.text_field :img_url%>
<br>
<br>


<%= f.submit "Create"%>
</h5>
  <% end %>
