<!DOCTYPE html>
<html>
  <head>
    <title>Game of Thrones</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to image_tag("http://cdn.pcwallart.com/images/game-of-thrones-logo-png-wallpaper-4.jpg"), "/houses" %>
    <h1>Either you win, or you die!</h1>

  </head>

  <hr>

  <body>
    <%= yield %>
  </body>
</html>
